</body>
<footer class="text-center">
<h5>Developed by: <a href="https://github.com/Jordan141" target="_blank">Jordan Moss</a></h5>
        <a href="https://codepen.io/Jordan141/"><i class="fa fa-codepen"></i></a>
        <a href="https://twitter.com/JordanMoss52"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/Jordan141"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jmoss41/"><i class="fa fa-linkedin"></i></a>
</footer>