<%- include ./partials/header.ejs %>
<div class="content-section">
    <h2>Voting App</h2>
    <ul class="list-section">
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
        <li>Hi</li>
    </ul>
</div>

<%- include ./partials/footer.ejs %>